body {
    margin: 0;
    font-family: 'Playfair Display', serif;
    font-size: 18px;
    background-color: white;
    color: black;
}

header {
    background-color: black;
}

.Intestazione{
    position: relative;
    background-color: black;
    color: white;
    padding-bottom: 50px;
    display: block;
    align-items: center;      
    justify-content: center; 
    text-align: center;
    height: 80px;
}

.logo{
    position: absolute;
    top: 0;
    left: 50px;
    block-size: 200%;
    max-block-size: 80%;
}

nav {
    background-color: black;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

nav a {
    color: white;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    color: #FF652C;
}


.Titolo {
    background-size: cover;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    font-size: 40px;
    font-weight: bold;
    text-shadow: 2px 2px 8px black;
}

.Contatti{
    position: absolute;
    left: 40px;
}

.sezione {
    padding: 40px 20px;
    max-width: 1000px;
    margin: auto;
}

.prodotti{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.prodottiInVendita {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 6px black;
    text-align: center;
}

h2 {
    text-align: center;
    color: #FF652C;
}

.Carosello {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 100%;
    max-width: 500px;
    max-height: 325px;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 5px 15px black;
}

.listaimmagini {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slideImmagine {
    min-width: 100%;
    box-sizing: border-box;
}

.slideImmagine img {
    width: 100%;
    display: block;
}

.bottoneCarosello {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: black;
    border: none;
    color: white;
    font-size: 2rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    z-index: 1;
    border-radius: 10px;
}

.precedente {
    left: 10px;
}

.successivo {
    right: 10px;
}



.dropdown {
    position: absolute;
    top: 20px;
    right: 0;
    display: inline-block;
}

.dropbtn {
    background-color: orangered;
    color: white;
    border-radius: 15px;
    padding: 10px 20px;
    font-family: 'Playfair Display', serif;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: lightsalmon;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px black;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: orange;
}