body {
    margin: 0;
    font-family: 'Playfair Display', serif;
    font-size: 18px;
    background-color: white;
    color: black;
}

header {
    background-color: black;
}

.Intestazione{
    position: relative;
    background-color: black;
    color: white;
    padding-bottom: 50px;
    display: block;
    align-items: center;      
    justify-content: center; 
    text-align: center;
    height: 80px;
}