body {
      margin: 0;
      font-family: 'Segoe UI', sans-serif;
      background-color: white;
      color: black;
    }

header {
    position: relative;
    background-color: black;
    color: white;
    padding-bottom: 5%;
    display: block;
    align-items: center;      
    justify-content: center; 
    text-align: center;
    height: 80px;
    }

.logo{
    position: absolute;
    top: 0;
    margin-left: 2%;
    width: 5%;
}

nav {
      background-color: black;
      display: flex;
      justify-content: center;
      padding: 10px 0;
    }

nav a {
      color: white;
      text-decoration: none;
      margin: 0 15px;
      font-weight: bold;
    }

nav a:hover {
      color: #FF652C;
    }


.Titolo {
    background-size: cover;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 2em;
    font-weight: bold;
    text-shadow: 2px 2px 8px black;
}

.sezione {
      padding: 40px 20px;
      max-width: 1000px;
      margin: auto;
    }

.prodotti{
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      gap: 20px;
    }

.prodottiInVendita {
      background-color: white;
      border-radius: 8px;
      padding: 20px;
      box-shadow: 0 2px 6px black;
      text-align: center;
    }

h2 {
      text-align: center;
      color: #FF652C;
    }

.Carosello {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 100%;
    max-width: 500px;
    max-height: 325px;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 5px 15px black;
}

.listaimmagini {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slideImmagine {
    min-width: 100%;
    box-sizing: border-box;
}

.slideImmagine img {
    width: 100%;
    display: block;
}

.bottoneCarosello {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: black;
    border: none;
    color: white;
    font-size: 2rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    z-index: 1;
    border-radius: 10px;
}

.precedente {
    left: 10px;
}

.successivo {
    right: 10px;
}
